[package]
name = "tulpje-gateway"
edition = "2021"
build = "../contrib/build.rs"

version.workspace = true
rust-version.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
tulpje-shared = { version = "0.17.1", path = "../shared" }
reconnecting-amqp = { version = "0.1.0", path = "../reconnecting-amqp" }
serde_json = "1.0.140"
tokio = { version = "1.43.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
twilight-gateway = { version = "0.16.0", features = ["rustls-ring", "rustls-webpki-roots" ], default-features = false }
twilight-http = { version = "0.16.0", features = ["decompression", "rustls-ring", "rustls-webpki-roots"], default-features = false }
twilight-model = "0.16.0"
twilight-util = { version = "0.16.0", features = ["builder"] }
uuid = { version = "1.16.0", features = ["v7", "serde"] }
serde = { version = "1.0.219", features = ["derive"] }
reqwest = { version = "0.12.15", default-features = false, features = ["rustls-tls", "charset", "http2"] }
redis = { version = "0.32.4", features = ["connection-manager", "tokio-comp"] }
futures-util = "0.3.31"
metrics = "0.24.2"
metrics-exporter-prometheus = { version = "0.16.2", default-features = false }
amqprs = { version = "2.1.0", features = ["compliance_assert", "traces", "urispec"] }
metrics-process = "2.4.0"
figment = { version = "0.10.19", features = ["env"] }
figment_file_provider_adapter = "0.1.1"
