[package]
name = "tulpje-shared"
edition = "2021"

version.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
metrics = "0.24.2"
metrics-exporter-prometheus = { version = "0.16.2", features = ["http-listener"], default-features = false }
metrics-process = "2.4.0"
amqprs = { version = "2.1.0", features = ["compliance_assert", "traces", "urispec"] }
procfs = "0.17.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = "1.45.0"
tokio-util = { version = "0.7.14", features = ["rt"] }
twilight-model = "0.16.0"
uuid = { version = "1.16.0", features = ["v7", "serde"] }
tracing = "0.1.41"
tulpje-framework = { version = "0.14.2", path = "../framework" }
redis = { version = "0.29.1", default-features = false, features = ["tokio-comp", "connection-manager"] }
async-trait = "0.1.86"

[lints]
workspace = true
