[package]
name = "tulpje-handler"
edition = "2021"
build = "../contrib/build.rs"

version.workspace = true
rust-version.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
tulpje-shared = { version = "0.17.1", path = "../shared" }
tulpje-framework = { version = "0.14.2", path = "../framework" }
reconnecting-amqp = { version = "0.1.0", path = "../reconnecting-amqp" }
futures-util = "0.3.31"
serde_json = "1.0.140"
tokio = { version = "1.43.0", features = ["rt-multi-thread", "macros", "sync"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
twilight-gateway = { version = "0.16.0", default-features = false }
twilight-http = { version = "0.16.0", features = ["decompression", "rustls-ring", "rustls-webpki-roots"], default-features = false }
twilight-model = "0.16.0"
twilight-util = { version = "0.16.0", features = ["builder"] }
serde = { version = "1.0.219", features = ["derive"] }
chrono = { version = "0.4.40", features = ["alloc", "clock", "std"], default-features = false }
num-format = "0.4.4"
regex = "1.11.1"
sqlx = { version = "0.8.5", features = ["runtime-tokio", "postgres", "chrono", "json", "macros", "migrate"] }
reqwest = { version = "0.12.15", default-features = false, features = ["rustls-tls", "charset", "http2"] }
base64 = "0.22.1"
async-cron-scheduler = { version = "2.0.1", features = ["logging"] }
pkrs-fork = { version = "0.4.0", default-features = false, features = ["reqwest-client", "rustls-tls"] }
serde_either = "0.2.1"
async-trait = "0.1.86"
metrics = "0.24.2"
metrics-exporter-prometheus = { version = "0.16.2", default-features = false }
amqprs = { version = "2.1.0", features = ["compliance_assert", "traces", "urispec"] }
tulpje-cache = { version = "0.3.0", path = "../cache" }
redis = { version = "0.32.2", features = ["connection-manager", "tokio-comp"] }
figment = { version = "0.10.19", features = ["env"] }
figment_file_provider_adapter = "0.1.1"

[lints]
workspace = true
